.image {
  align-items: center;
  height: 200px;
  justify-content: center;
  width: 270px;
  padding: 0px 5px 0px 5px;
}

.container {
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border: 0.5px solid #d532d2;
  border-radius: 5%;
  font-size: 16px;
  font-weight: bold;
  backdrop-filter: blur(7.5px);
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 250ms ease;
  margin: 15px;
}

.container:hover {
  box-shadow: 10px 1px 10px #888888;
  transform: translateY(2%);
}

.link {
  text-decoration: none;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #4e1e37;
}
