.home {
  display: flex;
  flex-flow: column nowrap;
  background-color: #85c3f0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  backdrop-filter: blur(3.5px);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  font-size: 20px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #f7ba12;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #c8466b;
}
