.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: #d0c9d6;
}

.container2 {
  margin: 15px;
  width: 50rem;
  border-radius: 20px;
  border: 5px solid #5d8233;
}

.image {
  align-items: center;
  height: 200px;
  justify-content: center;
  width: 270px;
  padding: 0px 5px 0px 5px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.button {
  font-size: 18px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #a7718c;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.description {
  justify-content: center;
  margin: 0;
  padding: 10px 140px 10px 140px;
}

.platforms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
