.form {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 16px;

  font-size: 20px;
  background-color: #d0c9d6;
  outline: none;
}

.button {
  font-size: 20px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #f7ba12;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #c8466b;
}
