.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.button {
  display: flex;
  flex: 1 1 auto;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  color: #76314f;
  cursor: pointer;
}

.searchbar {
  display: flex;
  flex: 1 1 auto;
  height: 50px;
}

.link {
  text-decoration: none;
}
